<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/home" routerLinkActive="active" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/calculadora" routerLinkActive="active" class="nav-link" aria-current="page">Calculadora</a></li>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="tela-pai" routerLinkActive="active" class="nav-link" aria-current="page">tela-pai</a></li>
    </ul>
</header>
